{{!-- partials/wave-divider.hbs --}}
<div class="wave-divider" aria-hidden="true">
  <svg viewBox="0 0 1440 80" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <defs>
      <linearGradient id="waveGrad" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%"   stop-color="#0a0e1a" stop-opacity="0"/>
        <stop offset="20%"  stop-color="#c9922a" stop-opacity="0.3"/>
        <stop offset="50%"  stop-color="#f0bc5e" stop-opacity="0.5"/>
        <stop offset="80%"  stop-color="#c9922a" stop-opacity="0.3"/>
        <stop offset="100%" stop-color="#0a0e1a" stop-opacity="0"/>
      </linearGradient>
    </defs>
    <path
      d="M0,40 C180,70 360,10 540,40 C720,70 900,10 1080,40 C1260,70 1380,30 1440,40 L1440,80 L0,80 Z"
      fill="url(#waveGrad)"
      opacity="0.4"
    />
    <path
      d="M0,55 C240,35 480,75 720,55 C960,35 1200,75 1440,55 L1440,80 L0,80 Z"
      fill="rgba(26,74,107,0.2)"
    />
  </svg>
</div>
